@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,600;0,700;1,400&display=swap');

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
     color: white;
}
header{
    margin-top: 10px;
}
.navbar{
    padding: 0;
}
.navbar .container-fluid{
    gap: 5px;
    padding: 0;
}
.navbar-toggler{
    margin-left: 15px;
}
.navbar-collapse{
    background-color: #58623F;
}
.navbar-nav{
width: 70%;
}
.nav-item{
    border-right: 1px solid #bbbbbb;
    padding: 1px 30px;
    white-space: nowrap;
    transition: all 0.3s ease-in-out;
}
.nav-item:last-child{
    border-right: none;
    
}
.nav-link{
    color: #e6e6e6;
    font-size: 20px;
    font-family: 'Barlow Condensed', sans-serif;
}
.nav-item:hover{
    color: rgb(110, 204, 110);
    background-color: white;
    transition: all 0.3s ease-in-out;
}
.b-cont{
    position: relative;
    width: 100%;
    height: 70vh;
    border-radius: 0 0 40% 40%;
    background-image: url(../imgs/pexels-polina-tankilevitch-4109910\ \(1\).jpg);
    background-size: cover;
    z-index: -5;
}

.b-t-cont{
  height: 80%;
  width: 56%;
  color: white;
  z-index: 2;
  padding: 10px 0px;
  
}
.bt-1{
    font-size:80px;
}
.bt-2{
    font-size:80px;
    letter-spacing: 15px;
}
.b-t-cont p{
    padding-top:10px ;
}


.p-cont{
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: 'Barlow Condensed', sans-serif;
    color: #58623F;
}
.p-item-t{
    font-family: 'Barlow Condensed', sans-serif;
    color: #58623F;
}

.about-cont{
    margin-top: 100px;
    font-family: 'Barlow Condensed', sans-serif;
}
.abt{
    margin-bottom: 200px;
}
.a-title{
    color: rgb(47, 66, 42);
    font-size: 60px;
    margin-bottom: 30px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 900;
}
.a-para{
    font-size: 20px;
}
.partner-title{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 50px;
}
.carousel{
    display: none;
}
.carousel-item img{
    height: auto; padding: 100px 20px;
}
.p-j-cont h1{
    font-size: 42px;
    text-align: center;
}
.p-j-cont h2{
    font-size: 40px;
    text-align: center;
}
.partner-j-btn{
    background-color: #58623F;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Barlow Condensed', sans-serif;
    transition: all 0.3s ease-in-out;
}
.partner-j-btn:hover{
    background-color: rgb(110, 204, 110);
    color: black;
    transition: all 0.3s ease-in-out;
}


footer{
    background-color: #383F44;
    color: white;
    padding: 50px 0px;
    font-family: 'Barlow Condensed', sans-serif;
    gap: 50px;
}
.f-link-cont{
    gap: 10px;
    font-size: 20px;
    padding-left: 20px;
}
.f-link-cont a{
   color: aquamarine;
   width: fit-content;
}
.f-link-cont a:hover{
    color: rgb(110, 204, 110);
    text-decoration: underline;
}
.f-about-cont{
    font-size: 20px;
    padding-left: 20px;
}
.f-contact-cont{
    gap: 15px;
    font-size: 20px;
    padding-left: 20px;
}
.f-contact-cont a{
    color: aquamarine;
    width: fit-content;
 }
 .f-contact-cont a:hover{
     color: rgb(110, 204, 110);
     text-decoration: underline;
 }
 .cp{
    background-color: #31353A;
    text-align: center;
    color: white;
    padding: 10px 0px;
}
@media only screen and (max-width: 1199.98px) {
    .b-cont{ 
    border-radius: 0 ;
    background-image: url(../imgs/71WLsQZYhTL._AC_SX679_.jpg);
    }
    .b-cont::before{
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        z-index: -4;
    }
    .b-t-cont{
        height: 100%;
        width: 100%;
        color: white;
        z-index: 2;
        padding: 20px;
        
      }
  }
@media only screen and (max-width: 991.98px) {
    .navbar-nav{
        width: 100%;
        }
    .nav-item{
        border-right:0;
           
        }
   
   
    .bt-1{
        font-size:50px;
    }
    .bt-2{
        font-size:50px;
    }
    .partner-logo-cont{
        display: none;
    }
    .carousel{
        display: block;
        margin-bottom: 100px;
    }
  }
@media only screen and (max-width: 767.98px) { 
    .bt-1{
        font-size:29px;
    }
    .bt-2{
        font-size:29px;
    }
    .partner-title{
        font-size: 40px;
    }
    .p-j-cont h1{
        font-size: 25px;
        text-align: center;
    }
    .p-j-cont h2{
        font-size: 20px;
        text-align: center;
    }
   }